<!DOCTYPE html>


<html>

<style>
img.resize{
   max-width:15%;
   max-height:15%;
}
</style>


    <head>
        <title>User Detail</title>
    </head>

    <body>


    Username: {{user.getUsername}}<br>

    Password: ********<br>

    Email: {{user.getEmail}}<br>

    First Name: {{user.first_name}}<br>

    Last Name: {{user.last_name}}<br>

    Website: <a href={{user.website}}>{{user.website}}</a><br><br>

    {% if user.picture %}
    	<img class="resize" src="{{user.picture.url}}" alt="Profile Picture" /> <br>
    {% endif %}
    
    <a href="/rango/register/{{user.getUsername}}">Edit User</a><br />
    <a href="/rango/delete/{{user.getUsername}}/">Delete User</a><br />
    <a href="/rango/index/">User List</a><br />
    

    </body>
</html>